@use "../settings/variables";

.btn {
  display: inline-block;
  padding: 0.75rem 1.87rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: variables.$fs-btn;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    background: variables.$primary-color;
    color: variables.$text-inverted-color;

    &:hover,
    &:focus {
      background: variables.$primary-dark-color;
      color: variables.$text-inverted-color;
    }
  }
}
