$_eucalyptus: #289f5f;
$_green-pea: #19623b;
$_baltic-sea: #282729;
$_mine-shaft: #252525;
$_cod-gray: #181818;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #fafafa;
$_gallery: #ececec;
$_gallery2: #ebebeb;

$primary-color: $_eucalyptus;
$primary-dark-color: $_green-pea;

$background-dark-color: $_baltic-sea;
$background-dark2-color: $_mine-shaft;
$background-darker-color: $_cod-gray;
$background-light-color: $_alabaster;
$background-lighter-color: $_white;

$text-color: $_cod-gray;
$text-muted-color: $_dove-gray;
$text-muted2-color: $_boulder;
$text-inverted-color: $_white;

$border-color: $_boulder;
$border-inverted-color: $_gallery;
$border-inverted2-color: $_gallery2;
